<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595946593699-8na4hsqvgoudialv8kmnc404ud4364sb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595946593699-8na4hsqvgoudialv8kmnc404ud4364sb</string>
	<key>API_KEY</key>
	<string>AIzaSyBkMsAzqfaWC2e8Y0ayaDgtjyq7PPSGIaE</string>
	<key>GCM_SENDER_ID</key>
	<string>595946593699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cibertec.RodrigoHerrada</string>
	<key>PROJECT_ID</key>
	<string>examen-cl2-rodrigoherrada</string>
	<key>STORAGE_BUCKET</key>
	<string>examen-cl2-rodrigoherrada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595946593699:ios:cc40d699fbbf732a4b8e16</string>
</dict>
</plist>